* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  color: #ddd;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main aside aside aside aside"
    "footer footer footer footer footer footer footer footer footer footer footer footer ";
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "aside aside aside aside aside aside aside aside aside aside aside aside"
      "footer footer footer footer footer footer footer footer footer footer footer footer ";
  }
}

.header {
  grid-area: header;
  background: linear-gradient(to right, #200122, #6f0000);
  width: 100%;
  height: 20vh;
  text-align: center;
}
.header h1 {
  margin-top: 5vh;
}

main {
  grid-area: main;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  background: linear-gradient(to right, #200122, #6f0000);

  margin: 30px auto;
}
.blog img {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog {
  padding: 10px;
}
.blog h1 {
  text-align: center;
}

.blog .paragraph-section {
  text-align: justify;
  font-size: 1.3rem;
}

.aside-section {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  /* height: 80%; */
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right, #200122, #6f0000);

  grid-area: aside;
  padding: 15px;
}

.aside-section h1 {
  margin: auto;
  padding: 5px;
}
.aside-section ul {
  list-style: none;
}
.aside-section ul li {
  text-align: left;
  padding: 10px 0;
  transition: all 0.4s ease-in-out;
}

.aside-section ul li:hover {
  color: blue;
  transform: scale(1.1);
}

.footer {
  grid-area: footer;
  bottom: 0;
  background: linear-gradient(to right, #200122, #6f0000);
  width: 100%;
  height: 20vh;
}
